<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/table.css' %}">
        <link rel="stylesheet" href="{% static 'main/popup.css' %}">
    </head>
    <body>

        {% if messages %}
            {% for message in messages %}
                <script>
                    window.addEventListener("load", ()=> showMessage("{{message}}", "white", "{{message.tage}}".includes("success")?"green":"red", "17", 3000));
                </script>
            {% endfor %}
        {% endif %}

        <table>
            <tr>
                <th>تاریخ و ساعت شروع</th>
                <th>تاریخ و ساعت اتمام</th>
                <th>وضعیت</th>
                <th>امتیاز</th>
                <th>شماره اتاق</th>
            </tr>
            {% for reserve in reservations %}
                <tr>
                    <td>{{reserve.startDate}} {{reserve.startTime}}</td>
                    <td>{{reserve.endDate}} {{reserve.endTime}}</td>
                    <td>
                        {% if reserve.isActive %}
                            فعال
                        {% else %}
                            غیرفعال
                        {% endif %}
                    </td>
                    <td>
                        {% if score %}
                            {{reserve.score}}
                        {% else %}
                            --
                        {% endif %}    
                    </td>
                    <td>{{reserve.room.no}}</td>
                    <td><button onclick="viewCustomer('{{reserve.customer.name}}', '{{reserve.customer.family}}', '{{reserve.customer.nationalId}}', '{{reserve.customer.email}}')">اطلاعات مشتری</button></td>
                    {% if reserve.isActive %}
                        <td><a href="{% url 'deleteReservation' reserve.id admin.username admin.password %}"><button>اتمام رزرو</button></a></td>
                    {% else %}
                        <td><a href="{% url 'acceptReservation' reserve.id admin.username admin.password %}"><button>شروع رزرو</button></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </body>
    {% load static %}
    <script src="{% static 'main/script/popup.js' %}" type="text/javascript" defer></script>
</html>